* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 375px;
}

.container {
    width: fit-content;
    margin: 30px auto;
}

.box-content {
    padding-left: 20px;
    height: 60%;
}



.img {
    float: none;
    width: 100.7%;
    height: 40%;
    min-height: 51%;
}


#box-1 {
    height: 600px;
    width: 300px;
}

.box-one p {
    line-height: 1.5em;
    padding-bottom: 8px;
}

.box-content {
    letter-spacing: 2px;
}

.btn {
    padding: 13px 70px;
}

